body {
}

div.logoHor {
    display: flex;
    justify-content: center;
}

div.logoVert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.logoHor {
    background-color: #cff;
    width: 350px;
    height: 150px;
}

#AESLogo {
    width: 736px;
    height: 240px;
    -webkit-animation: sk-rotateplane 4s infinite ease-in-out;
    -moz-animation: sk-rotateplane 4s infinite ease-in-out;
    -ms-animation: sk-rotateplane 4s infinite ease-in-out;
    -o-animation: sk-rotateplane 4s infinite ease-in-out;
    animation: sk-rotateplane 4s infinite ease-in-out;
}

.splash-container {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-min-width: 36em;
    -ms-min-width: 36em;
    -o-min-width: 36em;
    -webkit-min-width: 36em;
    min-width: 36em;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5em;
}

.logo-container {
    display: block;
    width: 900px;
    height: 300px;
}

@keyframes sk-rotateplane {
    0% {
        -ms-transform: perspective(736px) rotateX(0) rotateY(0);
        transform: perspective(736px) rotateX(0) rotateY(0);
    }
    100% {
        -ms-transform: perspective(736px) rotateX(0) rotateY(-360deg);
        transform: perspective(736px) rotateX(0) rotateY(-360deg);
    }
}

.aes-container {
    margin: 32px auto;
}