@model  IEnumerable<AES.Entities.Shared.Net45.Models.Position>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <div>
        <a href='@Url.Action("Index", "Position")'>
            <img id="Logo" alt="AESLogo" src="~/AES_Logo.jpg"/>
        </a>
    </div>
</body>
</html>