@model  IEnumerable<AES.Entities.Shared.Net45.Models.Position>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <div class="logoHor">
        <div class="logoVert">
            <a href='@Url.Action("Index", "Position")'>
                <img id="AESLogo" alt="AESLogo" src="~/aes-logo.png" />
            </a>
        </div>
    </div>
</body>
</html>