@{
    ViewBag.Title = "About AES";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>While our stores change with the times, one thing stays the same - our commitment to Customers. By following Mr. Owner's idea for serving Customers, hundreds of associates have helped build a business that continues to thrive in the pacific northwest. With your help, we'll continue our growth, continue serving our community, and continue serving Customers for a long time to come.</p>
<p>Thank you for helping make AES what it is</p>
